# +
# Compiled
# -
*.pyc
__pycache__

# +
# backup(s)
# -
*.py.2020*
*.old

# +
# Packages
# -
*.dmg
*.gz
*.tar
*.tgz
*.zip

# +
# Logs
# -
*.log

# +
# Pycharm
# -
.idea

# +
# OS
# -
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# +
# secret stuff
# -
bin/ORP.sh
etc/ARTN.sh
etc/ORP.sh
src/telescopes/rts2_config.json

# +
# other repositories
# -
src/rts2solib
