astroplan~=0.8
astropy~=4.2
colorlog~=4.8.0
email_validator~=1.1.2
ephem~=3.7.7.1
fpdf~=1.7.2
jwt~=1.2.0
matplotlib~=3.4.0
numpy~=1.20.2
pdfkit~=0.6.1
psycopg2-binary~=2.8.6
pyjwt~=2.0.1
pytest~=6.2.2
pytz~=2021.1
reportlab~=3.5.66
requests==2.31.0
sqlalchemy~=1.4.3
werkzeug~=1.0.1
Flask~=1.1.2
Flask-Bootstrap~=3.3.7.1
Flask-Login~=0.5.0
Flask-Mail~=0.9.1
Flask-Paginate~=0.8.1
Flask-SQLAlchemy~=2.5.1
Flask-WTF~=0.14.3
Jinja2~=2.11.3
WTForms~=2.3.3
