astroplan
astropy
bs4
colorlog
email_validator
ephem
fpdf
jwt
lxml
matplotlib
numpy
pdfkit
psycopg2-binary
pyjwt
pyparsing
pytest
python-dateutil
pytz
reportlab
requests
sqlalchemy
werkzeug<3
Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Paginate
Flask-SQLAlchemy
Flask-WTF
Jinja2
WTForms
