{% extends "base.html" %}
{% block content %}
 <hr class="normal">
 {% if reason is defined %}
  <h2>{{ reason }}</h2>
 {% else %}
  <h2>Request Conflict</h2>
 {% endif %}
 {% if caller is defined %}
  {% if caller=='orp_nightlog' %}
   <p><a href="{{ url_for('orp_nightlog') }}"><i class="fas fa-backward"></i></a></p>
  {% else if caller=='orp_history' %}
   <p><a href="{{ url_for('orp_history') }}"><i class="fas fa-backward"></i></a></p>
  {% endif %}
 {% else %}
  <p><a href="{{ url_for('orp_home') }}">Home</a></p>
 {% endif %}
 <hr class="normal">
{% endblock %}
