{% extends "base.html" %}
{% block content %}
 <hr class="normal">
 <form action="" method="post">
  {{ form.hidden_tag() }}
  <h2>Are you sure you want to delete this record?</h2>
  <br>
  <div class="d-flex justify-content-between">
   <div class="row">
    {{ form.submit(class_="btn btn-md btn-primary") }}
   </div>
   <div>
    <a href="{{ url_for(return_page, username=username) }}?{{ arg_str }}" class="btn btn-md btn-danger">Cancel</a>
   </div>
  </div>
 </form>
 <hr class="normal">
{% endblock %}
