{% extends 'base.html' %}
<!-- description -->
{% block content %}
 <hr class="normal">
<!--suppress ALL -->
 {% if result is defined %}
  <div class="container">
   <h4>File {{ result.filename }} has been downloaded.</h4>
   <br>
   <h3>Unpack with (either/or):<h3>
   <ul>
    <li><i>tar -xvf ~/Downloads/{{ result.filename }} --strip-components=7</i></li>
    <li><i>gzip -cd ~/Downloads/{{ result.filename }} | tar xvf - --strip-components=7</i></li>
   </ul>
  </div>
 {% endif %}
 <hr class="normal">
{% endblock %}
{% block js %}
{% endblock %}
