{% extends "base.html" %}

{% block content %}
<hr>
 <form action="" method="post">

  {{ form.hidden_tag() }}

  <h4>Reporting feedback from {{ current_user.firstname }} {{ current_user.lastname }}, {{ current_user.affiliation }}</h4>
  <h5>Username: <i>{{ current_user.username }}</i>, Email: <i>{{ current_user.email }}</i></h5>

  <br>

  <div class="row">
   <div class="col-md-4">
    {{ form.category.label }}<br>
    {{ form.category }}<br>
    {% for error in form.category.errors %}
     <span class="error-label"><small>[{{ error }}]</small></span>
    {% endfor %}
    <span class="purple-label"><small></small></span><br>
   </div>
   <div class="col-md-4">
    {{ form.urgency.label }}<br>
    {{ form.urgency }}<br>
    {% for error in form.urgency.errors %}
     <span class="error-label"><small>[{{ error }}]</small></span>
    {% endfor %}
    <span class="purple-label"><small></small></span><br>
   </div>
   <div class="col-md-4">
    {{ form.screenshot.label }}<br>
    {{ form.screenshot }}<br>
    {% for error in form.screenshot.errors %}
     <span class="error-label"><small>[{{ error }}]</small></span>
    {% endfor %}
    <span class="purple-label"><small>Upload an optional screenshot</small></span><br>
   </div>
  </div>

  <br>

  <div class="row">
   <div class="col-md-12">
    {{ form.report.label }}<br>
    {{ form.report(cols=80, rows=15) }}<br>
    {% for error in form.report.errors %}
     <span class="error-label"><small>[{{ error }}]</small></span>
    {% endfor %}
    <span class="purple-label">Please provide as much detail as possible<small></small></span><br>
   </div>
  </div>

  <br>

  <div class="d-flex justify-content-between">
   <div class="row">
    {{ form.submit(class_="btn btn-md btn-primary") }}
   </div>
   <div>
    <a href="{{ url_for('orp_user', username=current_user.username) }}" class="btn btn-md btn-danger">Cancel</a>
   </div>
  </div>
 
 </form>
 <hr>
{% endblock %}
