{% extends 'base.html' %}

<!-- description -->
{% block content %}

<!--suppress ALL -->
<hr>

 <div class="container">
  {% if current_user %}
   <h5><span class="left"><img src="{{ current_user.get_avatar(24) }}">&nbsp;<i>Observation history for {{ current_user.firstname }} {{ current_user.lastname }} </i></span></h5>
   <span class="right">
    {% if current_user.is_admin %}
     <a href="{{ url_for('orp_observable', username=current_user.username) }}" class="btn btn-sm btn-success">View Observable Request(s)</a>
     <a href="{{ url_for('orp_view_requests', username=current_user.username) }}" class="btn btn-sm btn-warning">View All Request(s)</a>
    {% else %}
     <a href="{{ url_for('orp_observable', username=current_user.username) }}?username={{ current_user.username }}" class="btn btn-sm btn-success">View Observable Request(s)</a>
     <a href="{{ url_for('orp_view_requests', username=current_user.username) }}?username={{ current_user.username }}" class="btn btn-sm btn-warning">View All Request(s)</a>
    {% endif %}
   </span>
  {% endif %}
 </div>

 <br>

 <hr>

 <div class="container">

  <!-- sort section -->
  <!--suppress HtmlUnknownAttribute -->
  <div class="row">

   <!-- Table -->
   <div class="col-md-12">
    <div class="table-responsive">
     <div class="row">
      <div class="col">
       <div align="left">
        {% if context.has_prev %}
         <a href="/orp/lookback/{{ current_user.username }}?{{ arg_str }}&page={{ page - 1 }}" class="btn btn-outline-secondary">Prev</a>
        {% else %}
         <a href="#" class="btn btn-outline-secondary disabled">Prev</a>
        {% endif %}
       </div>
      </div>
      <div class="col-md-8">
       <div align="center">
        {{ context.total }} record(s) found. Showing page {{ page }} / {{ context.pages }}.
       </div>
      </div>
      <div class="col">
       <div align="right">
        {% if context.has_next %}
         <a href="/orp/lookback/{{ current_user.username }}?{{ arg_str }}&page={{ page + 1 }}" class="btn btn-outline-secondary">Next</a>
        {% else %}
         <a href="#" class="btn btn-outline-secondary disabled">Next</a>
        {% endif %}
       </div>
      </div>
     </div>

     <br>

     <table class="table table-striped table-sm">
      <thead>
      <tr>
    {% if current_user.is_admin %}
       <th><font color="blue"></font></th>
    {% endif %}
       <th><font color="blue"></font></th>
       <th><font color="blue"></font></th>
       <th><font color="blue"></font></th>
       <!--
       {% if current_user.is_admin %}
         <th><font color="blue">Owner</font></th>
       {% endif %}
       -->
       <!-- <th><font color="blue">Telescope</font></th> -->
       <!-- <th><font color="blue">Instrument</font></th> -->
       <th><font color="blue">Object</font></th>
       <th><font color="blue">RA</font></th>
       <th><font color="blue">Dec</font></th>
       <th><font color="blue">Filter</font></th>
       <th><font color="blue">Exp Time</font></th>
       <th><font color="blue"># Exp</font></th>
       <th><font color="blue">Airmass</font></th>
       <th><font color="blue">Lunarphase</font></th>
       <!-- <th><font color="blue">Priority</font></th> -->
       <th><font color="blue">Photometric</font></th>
       <th><font color="blue">Guiding</font></th>
       <th><font color="blue">Non-Sidereal</font></th>
       <th><font color="blue">Begin</font></th>
       <th><font color="blue">End</font></th>
       <th><font color="blue">Binning</font></th>
       <!-- <th><font color="blue">Dither</font></th> -->
       <!-- <th><font color="blue">Cadence</font></th> -->
       <!-- <th><font color="blue">Queued</font></th> -->
       <!-- <th><font color="blue">Completed</font></th> -->
       <!-- <th><font color="blue">RTS2 Doc</font></th> -->
       <!-- <th><font color="blue">RTS2 Id</font></th> -->
       <!-- <th><font color="blue">Non-Sidereal Doc</font></th> -->
      </tr>
      <tr>
    {% if current_user.is_admin %}
       <th><font color="grey"></font></th>
    {% endif %}
       <!-- <th><font color="grey"></font></th> -->
       <!-- <th><font color="grey"></font></th> -->
       <th><font color="grey"></font></th>
       <!--
       {% if current_user.is_admin %}
         <th><font color="grey"></font></th>
       {% endif %}
       -->
       <th><font color="grey"></font></th>
       <th><font color="grey"></font></th>
       <th><font color="grey"></font></th>
       <th><font color="grey">J2k &deg;</font></th>
       <th><font color="grey">J2k &deg;</font></th>
       <th><font color="grey"></font></th>
       <th><font color="grey">s</font></th>
       <th><font color="grey"></font></th>
       <th><font color="grey">1 &lt;&gt; 3.5</font></th>
       <th><font color="grey"></font></th>
       <!-- <th><font color="grey"></font></th> -->
       <th><font color="grey"></font></th>
       <th><font color="grey"></font></th>
       <th><font color="grey"></font></th>
       <th><font color="grey"></font></th>
       <th><font color="grey"></font></th>
       <th><font color="grey"></font></th>
       <!-- <th><font color="grey"></font></th> -->
       <!-- <th><font color="grey"></font></th> -->
       <!-- <th><font color="grey"></font></th> -->
       <!-- <th><font color="grey"></font></th> -->
       <!-- <th><font color="grey"></font>jsonb</th> -->
       <!-- <th><font color="grey"></font></th> -->
       <!-- <th><font color="grey"></font>jsonb</th> -->
      </tr>
      </thead>
      <tbody>
      {% for record in context.results %}
      <tr>
       {% if current_user.is_admin %}
        <td><a href="/orp/observe/{{ current_user.username }}?dbid={{ record.id }}" title="Observe obsreq {{ record.id }}"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a></td>
       {% endif %}
       <td><a href="/orp/show/{{ current_user.username }}?dbid={{ record.id }}" title="Show obsreq {{ record.id }}"><i class="fas fa-microscope fa-lg" aria-hidden="true"></i></a></td>
       <td><a href="/orp/delete/{{ current_user.username }}?dbid={{ record.id }}" title="Delete obsreq {{ record.id }}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>
       <td><a href="/orp/update/{{ current_user.username }}?dbid={{ record.id }}" title="Edit obsreq {{ record.id }}"><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a></td>
       <!--
       {% if current_user.is_admin %}
       <td><img src="{{ record.avatar }}"></td>
       {% endif %}
       -->
       <!-- <td>{{ record.telescope }}</td> -->
       <!-- <td>{{ record.instrument }}</td> -->
       <td>{{ record.object_name }}</td>
       <td>{{ record.ra_deg }}</td>
       <td>{{ record.dec_deg }}</td>
       <td>{{ record.filter_name }}</td>
       <td>{{ record.exp_time }}</td>
       <td>{{ record.num_exp }}</td>
       <td>{{ record.airmass }}</td>
       <td>{{ record.lunarphase }}</td>
       <!-- <td>{{ record.priority }}</td> -->
       {% if record.photometric %}
        <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
       {% else %}
        <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
       {% endif %}
       {% if record.guiding %}
        <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
       {% else %}
        <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
       {% endif %}
       {% if record.non_sidereal %}
        <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
       {% else %}
        <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
       {% endif %}
       <td>{{ record.begin_iso }}</td>
       <td>{{ record.end_iso }}</td>
       <td>{{ record.binning }}</td>
       <!-- <td>{{ record.dither }}</td> -->
       <!-- <td>{{ record.cadence }}</td> -->
       <!-- {% if record.queued %} -->
       <!--  <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td> -->
       <!-- {% else %} -->
       <!--  <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td> -->
       <!-- {% endif %} -->
       <!-- {% if record.completed %} -->
       <!--  <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td> -->
       <!-- {% else %} -->
       <!--  <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td> -->
       <!-- {% endif %} -->
       <!-- <td>{{ record.rts2_doc }}</td> -->
       <!-- <td>{{ record.rts2_id }}</td> -->
       <!-- <td>{{ record.non_sidereal_json }}</td> -->
      </tr>
      {% endfor %}
      </tbody>
     </table>

     <div class="row">
      <div class="col">
       <div align="left">
        {% if context.has_prev %}
         <a href="/orp/lookback/{{ current_user.username }}?{{ arg_str }}&page={{ page - 1 }}" class="btn btn-outline-secondary">Prev</a>
        {% else %}
         <a href="#" class="btn btn-outline-secondary disabled">Prev</a>
        {% endif %}
       </div>
      </div>

      <div class="col-md-8">
       <div align="center">
        {{ context.total }} record(s) found. Showing page {{ page }} / {{ context.pages }}.
       </div>
      </div>

      <div class="col">
       <div align="right">
        {% if context.has_next %}
         <a href="/orp/lookback/{{ current_user.username }}?{{ arg_str }}&page={{ page + 1 }}" class="btn btn-outline-secondary">Next</a>
        {% else %}
         <a href="#" class="btn btn-outline-secondary disabled">Next</a>
        {% endif %}
       </div>
      </div>
     </div>
     <br>
    </div>
   </div>
  </div>
 </div>
 <hr>
{% endblock %}

{% block js %}
{% endblock %}
