{% extends "base.html" %}

{% block content %}
 <hr class="normal">
 <form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
   {{ form.password.label }}<br>
   {{ form.password(size=32) }}<br>
   {% for error in form.password.errors %}
    <span style="color: red;"><small>[{{ error }}]</small></span>
   {% endfor %}
   <small><font color="purple">(Password must be a minimum of 6 characters)</font></small>
   <br>
  </p>
  <p>
   {{ form.confirm.label }}<br>
   {{ form.confirm(size=32) }}<br>
   {% for error in form.confirm.errors %}
    <span style="color: red;"><small>[{{ error }}]</small></span>
   {% endfor %}
   <small><font color="purple">(Password must match the one chosen above)</font></small>
   <br>
  </p>
  <div class="d-flex justify-content-between">
   <div class="row">
    <button type="submit" class="btn btn-md btn-warning">Reset Password</button>
   </div>
   <div>
    <a href="{{ url_for('orp_home') }}" class="btn btn-md btn-danger">Cancel</a>
   </div>
  </div>
 </form>
 <hr class="normal">
{% endblock %}
