{% extends "base.html" %}

{% block content %}
 <hr class="normal">
 <form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
   {{ form.email.label }} <br>
   {{ form.email(size=64) }}<br>
   {% for error in form.email.errors %}
    <span style="color: red;"><small>[{{ error }}]</small></span>
   {% endfor %}
   <small><font color="purple">(New user? Register on the <a href="{{ url_for('orp_register') }}">Registration Page</a>)</font></small>
   <br>
  </p>
  <p>
   {{ form.passphrase.label }} <br>
   {{ form.passphrase(size=64) }}<br>
   {% for error in form.passphrase.errors %}
   <span style="color: red;"><small>[{{ error }}]</small></span>
   {% endfor %}
    <small><font color="purple">(Forgot your passphrase? Contact the <a href="mailto:artn.operator@gmail.com">webmaster</a> instead)</font>
   </small>
   <br>
  </p>
  <div class="d-flex justify-content-between">
   <div class="row">
    <button type="submit" class="btn btn-md btn-success">Request Password Reset</button>
   </div>
   <div>
    <a href="{{ url_for('orp_home') }}" class="btn btn-md btn-danger">Cancel</a>
   </div>
  </div>
 </form>
 <hr class="normal">
{% endblock %}
