{% extends "base.html" %}

{% block content %}
 <hr>
 <form action="" method="post" enctype = "multipart/form-data">

  {{ form.hidden_tag() }}
     <div class="row">
         <div class="col-md-12">
             <p>
                 {{ form.filename.label }}<br>
                 {{ form.filename(size=128) }}<br>
                 {% for error in form.filename.errors %}
                 <span style="color: red;"><small>[{{ error }}]</small></span>
                 {% endfor %}
                 <small><font color="purple">A tab-separated-value file containing targets</font></small>
             </p>
         </div>
     </div>
  <div class="row">
   <div class="col-md-12">
   <div class="d-flex justify-content-between">
    <div class="row">
     <button type="submit" class="btn btn-md btn-warning">Upload File</button>
    </div>
    <div>
     <a href="{{ url_for('orp_user', username=current_user.username) }}" class="btn btn-md btn-danger">Cancel</a>
    </div>
   </div>
   </div>
  </div>
 </form>
 <hr>
{% endblock %}
