{% extends 'base.html' %}
{% block content %}
 <hr class="normal">
 {% if user is defined %}
  <table id="table-border-red">
   <tr>
    <th><font color="blue">First Name</font></th>
    <th><font color="blue">Family Name</font></th>
    <th><font color="blue">Username</font></th>
    <th><font color="blue">Is Admin</font></th>
    <th><font color="blue">Email</font></th>
    <th><font color="blue">Affiliation</font></th>
    <th><font color="blue">About Me</font></th>
    <th><font color="blue">Last Active</font></th>
    <th><font color="blue">Account Created On</font></th>
   </tr>
   <tr>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.username }}</td>
    {% if user.is_admin %}
     <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
    {% else %}
     <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
    {% endif %}
    <td>{{ user.email }}</td>
    <td>{{ user.affiliation }}</td>
    <td>{{ user.about_me }}</td>
    <td>{{ user.last_seen_iso }}</td>
    <td>{{ user.created_iso }}</td>
   </tr>
  </table>
 {% endif %}
 <hr class="normal">
{% endblock %}
