{% extends 'base.html' %}
{% block content %}

<style>
    .scroll-section {
        max-height: 100px;
        overflow-y: auto;
    }
    .arrow-down {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12.5px 6.5px 0 6.5px;
        border-color: #d1dbe6 transparent transparent transparent;
        margin-left: auto;
        margin-right: auto;
    }

    .arrow-right {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 12.5px;
        border-color: transparent transparent transparent #d1dbe6;
        margin-left: auto;
        margin-right: auto;
    }

    text.info{
        position:relative; /*this is the key*/
        z-index:24; 
        /*background-color:#ccc;
        color:#000;*/
        text-decoration:none
    }
    text.info:hover{
        z-index:25; 
        cursor: help;
        /*background-color:#ff0*/
    }
    text.info span{
        display: none
    }
    text.info:hover span{ /*the span will display just on :hover state*/
        cursor: help;
        display:block;
        position:absolute;
        top:2em; left:0em; 
        width:15em;
        border:1px solid rgb(33, 109, 207);
        background-color:rgb(33, 109, 207); 
        color: white;
        font-size: 10pt;
        text-align: center;
        border-radius: 18px;
    }

</style>

<hr class="normal">
{% if active %}
    <h3>{{ telescope }} Queue (plan) for {{ queuenight }}</h3>
    <div class="qt">
        <div id='current_queue_table'></div>
    </div>
{% else %}
    <h3>{{ telescope }} Queue (plan)</h3>
    <p><b style="color: red;">No Active Queue!</b></p>
    
{% endif %}
<hr class="normal">

<!--<div class="col-sm-6">
 <table class="table table-striped table-bordered table-hover table-sm">
  <tbody>
    
   
   <div class="row">
       <div id="telescope_title"></div>
   </div>
   <p><i>Displays all of the queued targets for around a given Night</i></p>
   <tr>
        <td>
            <text class="info"> Night<span>
                This is the date passed into the scheduler. It calculates the length of the night, moon position, and target observability based off of this parameter.
            </span></text>
            <select id='night_queued' class="form-select" aria-label="Default select example">
            {% for d in dates %}
                <option value="{{ d }}">{{ d }}</option>
            {% endfor %}
            </select>
        </td>
        <td>
            <input id="target_date_buffer" value="1"><text class="info"> (+/-) Day(s)<span>
                This parameter is what is passed into the query to search for queued targets. It queries for targets that were queued days from now.
            </span></text>
        </td>
        <td>
            <input id="target_name_contains" value=''><text class='info'> Name (contains)<span>
                Queries for targets who's name contains the input.
            </span></text>
        </td>
   </tr>
  </tbody>
 </table>
</div>-->



<script>
    var checkedIDs = []
    var page = 0
    var canCommunicate = false
    var infohovered = false

    window.onload = function(){
        redrawTargetsTable()
        bigartn_canCommunicate()
    };

    function changeCollapseButtonText(clicked_id){
        var button = document.getElementById(clicked_id);
        
        if (button.classList.contains('arrow-right')) { 
            button.classList.replace('arrow-right', 'arrow-down')
        }
        else {
            button.classList.replace('arrow-down', 'arrow-right')
        }
    }

    function doEmAll(checked_id) {
        var checked = document.getElementById(checked_id).checked
        var allobjects = $('[id^=queuetarg_')
        for (i = 0; i<allobjects.length; i++) {
            document.getElementById(allobjects[i].id).checked = checked
            objname = allobjects[i].id.split('_')[1]
            var obsreqs = $('[id^='+objname+'_]')
            for (j = 0; j < obsreqs.length; j++) {
                var rts2id = obsreqs[j].id.split('_')[1]
                if (checked == true && !checkedIDs.includes(rts2id)) {
                    checkedIDs.push(rts2id)
                }
                if (checked == false) {
                    var index = checkedIDs.indexOf(rts2id)
                    if (index > -1) { checkedIDs.splice(index, 1)}
                }
                document.getElementById(obsreqs[j].id).checked = checked
            }
        }
    }

    function objectCheckAll(checked_id) {
        var objname = checked_id.split('_')[1]
        var checked = document.getElementById(checked_id).checked
        var obsreqs = $('[id^='+objname+'_]')
        for (i = 0; i < obsreqs.length; i++) {
            var rts2id = obsreqs[i].id.split('_')[1]
            if (checked == true && !checkedIDs.includes(rts2id)) {
                checkedIDs.push(rts2id)
            }
            if (checked == false) {
                var index = checkedIDs.indexOf(rts2id)
                if (index > -1) { checkedIDs.splice(index, 1)}
            }
            document.getElementById(obsreqs[i].id).checked = checked
        }
    }

    function expCheckOne(checked_id) {
        var checked = document.getElementById(checked_id).checked
        var objname = checked_id.split('_')[0]
        var rts2id = checked_id.split('_')[1]
        var parent_obj = document.getElementById('queuetarg_'+objname)

        if (checked == true) { checkedIDs.push(rts2id) }
        if (checked == false) { 
            parent_obj.checked = checked
            var index = checkedIDs.indexOf(rts2id)
            if (index > -1) { checkedIDs.splice(index, 1) }
        }

        var parchecked = true
        var obsreqs = $('[id^='+objname+'_]')
        for (i = 0; i < obsreqs.length; i++) {
            if (!document.getElementById(obsreqs[i].id).checked) {
                parchecked = false
            }
        }
        parent_obj.checked = parchecked
    }

    function paginateTargetsTable(page_iter) {
        page = page_iter
        redrawTargetsTable()
    }

    function redrawTargetsTable(){
        var telescope = '{{ telescope }}'
        var username = '{{ username }}'

        var expids = ''
        for (i = 0; i < checkedIDs.length; i++) {
            expids += ',' +checkedIDs[i]
        }
        expids = expids.substring(1)

        $.ajax(
            {
                url: '/orp/ajax_current_queued_list',
                data: 'expids=' + expids + '&telescope=' +telescope+'&username='+username
            }
        ).done( function(payload){
            var qt_html = payload.qt_html
            $('#current_queue_table').html(qt_html)
        })
    }

    function bigartn_canCommunicate() {
        var telescope = '{{ telescope }}'
        $.ajax(
            {
                url: '/orp/ajax_bigartn_queue',
                data: 'telescope='+telescope,
                timeout: 5000,
            }
        ).done(function(reply){

            canInterrupt = reply['canInterrupt']
            canCommunicate = reply['canCommunicate']
            html = reply['html']
            
            if (canCommunicate) {
                $('#schedule_focus_fields').prop('disabled', !canCommunicate)
                $('#interrupt').prop('disabled', !canInterrupt)
                $('#telescope_title').html(html)
            }

        }).fail(function(jqXHR, textStatus){
            $('#telescope_title').html("<b><font color='red'>Cannot communicate with RTS2. Will not be able to submit queue</font></b>")
            $('#schedule_focus_fields').prop('disabled', true)
            $('#interrupt').prop('disabled', true)
        })
    }

    $(document).ready( function() {
        $('#run_artn_scheduler').click(function() {
            $('#run_artn_scheduler').prop('disabled', true)
            document.body.style.cursor='wait'

            var expids = ''
            for (i = 0; i < checkedIDs.length; i++) {
                expids += ',' +checkedIDs[i]
            }
            expids = expids.substring(1)

            var schedule_focus = document.getElementById('schedule_focus_fields').checked
            var interrupt = document.getElementById('interrupt').checked
            var simulate = document.getElementById('simulate').checked
            var night = $('#night_queued').val()
            var telescope = '{{ telescope }}'
            
            $.ajax(
            {
                url: '/orp/ajax_run_scheduler',
                data: 'expids=' + expids + '&schedule_focus=' + schedule_focus + '&night=' + night + '&interrupt=' + interrupt + '&telescope=' +telescope + '&simulate=' +simulate
            }
            ).done(function (reply) {
                if (canCommunicate) {
                    $('#populate_rts2_queue').prop('disabled', false)
                }
                $('#run_artn_scheduler').prop('disabled', false)
                var chart = reply['chart']
                var log = reply['log']
                $('#scheduler_airmass_chart').html(chart);
                $('#scheduler_log').html(log);
                $('#queue_set').html('')
                document.body.style.cursor='default'
            });
        });

        $('#populate_rts2_queue').click(function() {
            $('#populate_rts2_queue').prop('disabled', true)
            $('#run_artn_scheduler').prop('disabled', true)
            $('#queue_set').html('')
            document.body.style.cursor='wait'

            var expids = ''
            for (i = 0; i < checkedIDs.length; i++) {
                expids += checkedIDs[i] + ','
            }
            expids = expids.slice(0,-1)

            var schedule_focus = document.getElementById('schedule_focus_fields').checked
            var interrupt = document.getElementById('interrupt').checked
            var simulate = document.getElementById('simulate').checked
            var night = $('#night_queued').val()
            var queue_type = $('#queue_type').val()
            var telescope = '{{ telescope }}'

            $.ajax(
            {
                url: '/orp/ajax_populate_queue',
                data: 'expids=' + expids + '&schedule_focus=' + schedule_focus + '&night=' + night + '&interrupt=' + interrupt + '&telescope=' +telescope+ '&simulate=' +simulate+ '&queue_type=' +queue_type
            }
            ).done(function (reply) {
                $('#populate_rts2_queue').prop('disabled', false)
                $('#run_artn_scheduler').prop('disabled', false)
                document.body.style.cursor='default'
                var message = reply['message']
                $('#queue_set').html('<h3><font color="red">Queue has been submitted to RTS2</font></h3><p>'+message+'</p>')
                $('#interrupt').prop('disabled', false)
                bigartn_canCommunicate()
            });
        })

        $('#night_queued').change(function() {
            page = 0
            redrawTargetsTable()
        })

        $('#targets_completed').change(function() {
            page = 0
            redrawTargetsTable()
        })

        $('#target_date_buffer').change(function() {
            page = 0
            redrawTargetsTable()
        })

        $('#target_name_contains').change(function() {
            page = 0
            redrawTargetsTable()
        })
    });
    $('#infohover').hover(function(){
        document.body.style.cursor='help'
    },function(){
        document.body.style.cursor='default'
        $('#cursor_info').hide();
    });
    $('#infohover').click(function(){
        $('#cursor_info').show();
    });
    $('#cursor_info').hover(function(){
        $('#cursor_info').show();
    }, function(){
        $('#cursor_info').hide();
    });

</script>

{% endblock %}
